.comment {
    padding: 10px;
    background-color: ivory;
    margin: 5px;
    width: 630px;
    border: 1px solid;
    border-radius: 8px;
}
.comment pre {
    width: 630px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}
input[type=button], input[type=submit], button {
    background-color: #4CAF50;
    border: none;
//color: white;
    width: 150px;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}