.comment {
    padding: 10px;
    background-color: ivory;
    margin: 5px;
    width: 630px;
    border: 1px solid;
    border-radius: 8px;
}
.comment pre {
    width: 630px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

input[type=button], input[type=submit], button, a {
    font-family: sans-serif;
    background-color: #4CAF50;
    border: none;
    color: black;
    width: 150px;
    height: 50px;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}