<!DOCTYPE html>
<head>

    <meta charset="UTF-8">
    <title>Notes++</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Bad Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amarante' rel='stylesheet'>

</head>
<body>
<script src="setclienttime.js">clienttime();</script>
<header>
    <div class="head">
        <span id="p1">Time checker!</span>
    </div>
</header>
